main {
  display: grid;
  place-items: center;
}

form {
  width: auto;
}

input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

button {
  background: #eee;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  border: 2px solid #ccc;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 15px
}

li {
  list-style-type: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 15px 0;
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
  transition: box-shadow .2s ease-in;
}